.table-inbox tr td {
    padding: 10px !important;
}
	.table-inbox tr.unread td {
    background: none repeat scroll 0 0 #f7f7f7;
    font-weight: 600;
}
.inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea {
    border: 1px solid #e6e6e6;
    box-shadow: none;
}
.modal-header h4.modal-title {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
}
.modal-body label {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
}
/*.list-group-item .list-group-item-info a:active{
	background-color: blue;
}*/
